<!-- TODO: allow multiple maps to be displayed on the same page -->

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
<style type="text/css">
  .gpx {
    border: 1px #aaa solid;
    max-width: 100%;
    margin: 1em auto;
  }
  .gpx .map {
    border: 1px #888 solid;
    border-left: none;
    border-right: none;
    width: 100%;
    min-height: 800px;
    margin: 0;
    z-index: 0;
  }
  .gpx footer {
    background: #f0f0f0;
    padding: 0.5em;
  }
  .gpx ul.info {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: smaller;
  }
  .gpx ul.info li {
    color: #666;
    padding: 2px;
    display: inline;
  }
  .gpx ul.info li span {
    color: black;
  }
  .gpx {
    box-sizing: unset
  }
 .leaflet-container a.location {
    font-size: 1.1rem;
  }
</style>
<script src="/leaflet-src.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.5.0/gpx.min.js"></script>
<section id="container" class="gpx">
  <div class="map" id="map-{{.Get "id" }}"></div>
  <footer>
    {{- $.Scratch.Set "counter" 0 }}
    {{ $len := len .Params }}
    {{ range .Params }}
      <ul class="info">
        {{- $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
        <li>{{ if gt $len 1 }}Track {{$.Scratch.Get "counter" }}: {{ end }}<span class="start-{{ . }}"></span></li>&mdash;<li>Distance:&nbsp;<span class="distance-{{ . }}"></span>&nbsp;km</li>
        &mdash; <li>Duration:&nbsp;<span class="duration-{{ . }}"></span></li>
        &mdash; <li>Elevation:&nbsp;+<span class="elevation-gain-{{ . }}"></span>&nbsp;m,
        -<span class="elevation-loss-{{ . }}"></span>&nbsp;m
        (net:&nbsp;<span class="elevation-net-{{ . }}"></span>&nbsp;m)</li>
        &mdash;<li><a href="{{ . }}">Download</a></li>
      </ul>
    {{ end }}
  </footer>
</section>
<script>
  var urls = "{{ .Params }}".replaceAll('[','').replaceAll(']','').split(' ');
  var mapid = "map-{{.Get "id" }}";
  var container = document.getElementById("container");
  var colors = {{ site.Params.gpx.colors }};
  function _c(c) {
    return container.getElementsByClassName(c)[0];
  }
  var map = L.map(mapid, {
    scrollWheelZoom: false
  });
  var thunderforest = new L.TileLayer('https://tile.thunderforest.com/outdoors/{z}/{x}/{y}{r}.png?apikey=3bc0443f64f94d3a9318f9e887561ea5', {
    attribution: 'Maps © <a href=\"http://www.thunderforest.com\">Thunderforest</a>, Data © <a href=\"http://www.openstreetmap.org/copyright\">OpenStreetMap contributors</a>"', minZoom: 11, inverseBounds: L.latLngBounds(
    new L.LatLng(46.3, 9.3),
    new L.LatLng(49, 17.3)
    )
  });
  var bergfex = L.tileLayer('https://maps.bergfex.at/oek/{folder}/{z}/{x}/{y}.jpg', {
    attribution: 'Maps © <a href="http://bergfex.com">bergfex.com</a>', minZoom: 9, maxZoom:13, bounds: new L.LatLngBounds(
    new L.LatLng(46.3, 9.3),
    new L.LatLng(49, 17.3)
  ),
  folder: function (data) {
    return data.z <= 15 ? '512px' : 'standard';
  },
  });
  thunderforest.addTo(map);
  bergfex.addTo(map);
  var control = L.control.layers(null, null).addTo(map);
  var bounds = null;
  urls.forEach(function(url, index) {
    new L.GPX(url, {
      gpx_options: {
        joinTrackSegments: false
      },
      async: true,
      marker_options: {
        startIconUrl: "/images/pin-icon-start.png",
        endIconUrl: "/images/pin-icon-end.png",
        shadowUrl: "/images/pin-shadow.png",
      },
      polyline_options: {color: colors[index % colors.length]}
    }).on("loaded", function(e) {
      var gpx = e.target;
      if (bounds === null) {
        bounds = gpx.getBounds();
      }
      else
      {
        bounds.extend(gpx.getBounds());
      }
      map.fitBounds(bounds);
      control.addOverlay(gpx, gpx.get_name());
      var date = gpx.get_start_time();
      var datestring = date.getFullYear() + "-" + (date.getMonth()+1).toString().padStart(2, "0") + "-" + date.getDate().toString().padStart(2, "0")  + " " + date.getHours().toString().padStart(2, "0") + ":" + date.getMinutes().toString().padStart(2, "0");
      _c("start-" + url).textContent = (date > 0) ? datestring : "";
      _c("distance-" + url).textContent = (gpx.get_distance() / 1000).toFixed(2);
      var duration = gpx.get_moving_time();
      _c("duration-" + url).textContent = (duration > 0) ? gpx.get_duration_string(duration) : "N/A";
      _c("elevation-gain-"+ url).textContent = gpx.get_elevation_gain().toFixed(0);
      _c("elevation-loss-" + url).textContent = gpx.get_elevation_loss().toFixed(0);
      _c("elevation-net-" + url).textContent = (gpx.get_elevation_gain() - gpx.get_elevation_loss()).toFixed(0);
    }).addTo(map);
  });
  document.addEventListener("DOMContentLoaded", function(){
    Array.from(document.getElementsByClassName("location")).forEach(addMarker);
  });

  function addMarker(link) {
    lat = link.getAttribute("lat");
    lon = link.getAttribute("lon");
    text = link.textContent;
    name = link.getAttribute("name");
    title = (name != "") ? name : text;
    url = link.getAttribute("link");
    if (url != "")
    {
      title = "<a target=\"_blank\" href=\"" + url + "\">" + title + "</a>";
    }
    marker = L.marker([lat, lon]).addTo(map);
    marker.bindPopup(title).openPopup();
  }
</script>
